/build/classes/java/main/at/fhv/sysarch/lab2/homeautomation/devices/simulators/TemperatureSimulator$TemperatureSimulatorCommandImpl.class
/build/classes/java/main/at/fhv/sysarch/lab2/homeautomation/devices/simulators/TemperatureSimulator$Timeout.class
